asgiref==3.9.2
cfgv==3.4.0
click==8.3.0
colorama==0.4.6
crispy-bootstrap5==2025.6
cssbeautifier==1.15.4
distlib==0.4.0
Django==5.2.6
django-auditlog==3.2.1
django-bootstrap5==25.2
django-debug-toolbar==6.0.0
django-tables2==2.7.5
djlint==1.36.4
EditorConfig==0.17.1
filelock==3.19.1
identify==2.6.14
jsbeautifier==1.15.4
json5==0.12.1
nodeenv==1.9.1
pathspec==0.12.1
platformdirs==4.4.0
pre_commit==4.3.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
regex==2025.9.18
ruff==0.13.2
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
virtualenv==20.34.0
whitenoise==6.11.0
