<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="IRDAI Compliance" />
    <meta name="description" content="IRDAI Compliance" />
    <title>IRDAI Compliance</title>
    <style>
        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        .header {
            margin-bottom: 15px;
        }

        body {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: small;
        }
    </style>
</head>

<body>

    {% include "partials/email_task_table.html" with task=task %}

    {% if task.data_document_template %}
    <p>
        Please find attached the data document format.
    </p>
    {% endif %}

    {{ remarks }}

</body>

</html>
