<!doctype html>
<html lang="en">

<head>
    {% block title %}
    <title>Compliance Home</title>
    {% endblock title %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link
        href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.3.6/b-3.2.6/b-html5-3.2.6/fh-4.0.5/datatables.min.css"
        rel="stylesheet" integrity="sha384-IV9xjN7PjRGLCGzbGLpH26zWkOgLLUuj59GBALZGOdBYoc3HykaHNtY7zn5L7F8o"
        crossorigin="anonymous" />
    <style>
        body {
            zoom: 90%;
        }
    </style>
    {% block extra_css %}{% endblock extra_css %}

</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-light navbar-expand-lg bg-success-subtle">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Compliance</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% with url_name=request.resolver_match.url_name filter_val=request.resolver_match.kwargs.filter %}
                    {% if request.user.is_authenticated and request.user.user_type in "viewer admin" %}
                    {% if request.user.is_authenticated and request.user.user_type in "admin" %}
                    <a class="nav-link" href="{% url 'user_list' %}">User accounts
                    </a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if url_name == 'public_holiday_list' or url_name == 'upload_public_holidays' %}active{% endif %}"
                            href="
                            #" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Public holiday
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'public_holiday_list' %}">Public holiday list</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'upload_public_holidays' %}">Bulk upload public
                                    holiday</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if url_name == 'template_list' or url_name == 'template_add' %}active{% endif %}"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Templates
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'template_list' %}">Templates list</a></li>
                            {% if request.user.is_authenticated and request.user.user_type in "admin" %}
                            <li><a class="dropdown-item" href="{% url 'template_add' %}">Add new template</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    {% if request.user.is_authenticated and request.user.user_type in "admin" %}
                    <a class="nav-link {% if url_name == 'task_add' %}active{% endif %}" href="{% url 'task_add' %}">Add
                        adhoc item
                    </a>
                    {% endif %}
                    {% endif %}
                    <a class="nav-link {% if url_name == 'task_list_submitted' or url_name == 'task_list_filtered_recurrence_submitted' %}active{% endif %}"
                        href=" {% url 'task_list_submitted' %}">Submitted items
                    </a>

                    <a class="nav-link {% if filter_val == 'overdue' %}active{% endif %}"
                        href="{% url 'task_list' filter='overdue' %}">Overdue tasks
                        <span class="badge bg-danger">{{ overdue_count }}</span></a>
                    <a class="nav-link {% if filter_val == 'due-today' %}active{% endif %}"
                        href="{% url 'task_list' filter='due-today' %}">Due today
                        <span class="badge bg-info">{{ due_today_count }}</span></a>
                    <a class="nav-link {% if filter_val == 'upcoming' %}active{% endif %}"
                        href="{% url 'task_list' filter='upcoming' %}">Upcoming tasks
                        <span class="badge bg-success">{{ upcoming_count }}</span></a>
                    <a class="nav-link {% if url_name == 'task_list_revision' or url_name == 'task_list_filtered_recurrence_revision' %}active{% endif %}"
                        href="{% url 'task_list_revision' %}">To be revised
                        <span class="badge bg-success">{{ revision_count }}</span></a>
                    {% if request.user.is_authenticated and request.user.user_type in "dept_agm admin" %}
                    <a class="nav-link {% if url_name == 'task_list_approval_pending' or url_name == 'task_list_filtered_recurrence_approval_pending' %}active{% endif %}"
                        href="{% url 'task_list_approval_pending' %}">Pending for
                        approval
                        <span class="badge bg-success">{{ approval_pending_count }}</span></a>
                    {% endif %}
                    {% if request.user.is_authenticated and request.user.user_type in "staff admin" %}
                    <a class="nav-link {% if url_name == 'task_list_review' or url_name == 'task_list_filtered_recurrence_review' %}active{% endif %}"
                        href="{% url 'task_list_review' %}">Pending for
                        review
                        <span class="badge bg-success">{{ review_count }}</span></a>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class=" navbar-nav">
            {% if user.is_authenticated %}

            <a class="nav-link" href="#">{{ user.username }}</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link">
                    Logout
                </button>
            </form>

            {% else %}

            <a class="nav-link" href="{% url 'login' %}">Login</a>

            {% endif %}
        </div>
    </nav>
    {% endblock navbar %}
    {% if messages %}
    <div class="container-fluid mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"
        integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"
        integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.3.6/b-3.2.6/b-html5-3.2.6/fh-4.0.5/datatables.min.js"
        integrity="sha384-FV39c3S5wJor09E9FNDNbZ5ahr3hlz6R26ybFw6Xd8xrnG4b9bEfZorPUYHkl9CM"
        crossorigin="anonymous"></script>
    {% endblock scripts %}
</body>

</html>
