<!doctype html>
<html lang="en">

<head>
    {% block title %}
    <title>Compliance</title>
    {% endblock title %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    {% load django_bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    <link id="favicon" rel="icon" href="{% static 'favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-icons-1.13.1/bootstrap-icons.min.css' %}" />
    <style>
        html {
            font-size: 14px;
        }
    </style>

    {% block extra_css %}{% endblock extra_css %}

</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-light navbar-expand-lg bg-success-subtle">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">Compliance</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% with url_name=request.resolver_match.url_name filter_val=request.resolver_match.kwargs.filter %}
                    {% if request.user.is_authenticated %}
                    {% if perms.compliance.can_edit_as_compliance or perms.compliance.can_view_as_compliance %}

                    <a class="nav-link" href="{% url 'user_list' %}">User Accounts
                    </a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if url_name == 'public_holiday_list' or url_name == 'upload_public_holidays' or url_name == 'publication_create' or url_name == 'task_add' %}active{% endif %}"
                            href="
                            #" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'public_holiday_list' %}">Public holiday list</a>
                            </li>
                            {% if perms.compliance.can_edit_as_compliance %}
                            <li><a class="dropdown-item" href="{% url 'upload_public_holidays' %}">Bulk upload public
                                    holiday</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li> <a class="dropdown-item" href="{% url 'task_add' %}">Add adhoc item </a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{% url 'publication_create' %}">Add new IRDAI
                                    publication</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if url_name == 'template_list' or url_name == 'template_add' %}active{% endif %}"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Templates
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'template_list' %}">Templates list</a></li>
                            {% if perms.compliance.add_template %}
                            <li><a class="dropdown-item" href="{% url 'template_add' %}">Add new template</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    <a class="nav-link {% if url_name == 'task_list_board_meeting_pending' %}active{% endif %}"
                        href="{% url 'task_list_board_meeting_pending' %}">
                        Set Board Meeting Date
                        <span class="badge bg-danger">{{ board_meeting_pending_count }}</span>
                    </a>
                    {% endif %}

                    <a class="nav-link {% if url_name == 'publication_list' %}active{% endif %}"
                        href=" {% url 'publication_list' %}">IRDAI Publications
                    </a>

                    <a class="nav-link {% if url_name == 'task_list_submitted' or url_name == 'task_list_filtered_recurrence_submitted' %}active{% endif %}"
                        href=" {% url 'task_list_submitted' %}">Submitted items
                    </a>

                    <a class="nav-link {% if filter_val == 'overdue' %}active{% endif %}"
                        href="{% url 'task_list' filter='overdue' %}">Overdue tasks
                        <span class="badge bg-danger">{{ overdue_count }}</span></a>
                    <a class="nav-link {% if filter_val == 'due-today' %}active{% endif %}"
                        href="{% url 'task_list' filter='due-today' %}">Due today
                        <span class="badge bg-info text-black">{{ due_today_count }}</span></a>
                    <a class="nav-link {% if filter_val == 'upcoming' %}active{% endif %}"
                        href="{% url 'task_list' filter='upcoming' %}">Upcoming tasks
                        <span class="badge bg-secondary">{{ upcoming_count }}</span></a>
                    <a class="nav-link {% if url_name == 'task_list_revision' or url_name == 'task_list_filtered_recurrence_revision' %}active{% endif %}"
                        href="{% url 'task_list_revision' %}">To be revised
                        <span class="badge bg-primary">{{ revision_count }}</span></a>

                    <a class="nav-link {% if url_name == 'task_list_approval_pending' or url_name == 'task_list_filtered_recurrence_approval_pending' %}active{% endif %}"
                        href="{% url 'task_list_approval_pending' %}">Pending for approval
                        <span class="badge bg-success">{{ approval_pending_count }}</span></a>

                    <a class="nav-link {% if url_name == 'task_list_review' or url_name == 'task_list_filtered_recurrence_review' %}active{% endif %}"
                        href="{% url 'task_list_review' %}">Pending for review
                        <span class="badge bg-warning text-black">{{ review_count }}</span></a>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class=" navbar-nav">
            {% if user.is_authenticated %}

            <a class="nav-link" href="#">{{ user.username }}</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link">
                    Logout
                </button>
            </form>

            {% else %}

            <a class="nav-link" href="{% url 'login' %}">Login</a>

            {% endif %}
        </div>
    </nav>
    {% endblock navbar %}
    {% if messages %}
    <div class="container-fluid mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock content %}
    {% bootstrap_javascript %}

    {% block scripts %}
    <script src="{% static 'DataTables/datatables.min.js'%}"></script>
    {% endblock scripts %}
</body>

</html>
