{% extends "base_generic.html" %}

{% block content %}
<h1>Local Library Home</h1>
<p>
    Welcome to LocalLibrary, a website developed by
    <em>Mozilla Developer Network</em>!
</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
    <li><strong>Books:</strong> {{ num_topics }}</li>
</ul>
{% if compliance_topics %}
<table>
    <thead>
        <tr>
            <th>Statement Name</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in compliance_topics %}
        <tr>
            <td>{{ topic.statement_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}
