{% extends "base_generic.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container">

    <div class="container my-5">
        {% include "partials/task_detail_display.html" with task=task status_audit_logs=status_audit_logs %}

        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Upload documents for {{ task.task_name }}</h5>
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-lg-6">
                            {% bootstrap_field form.data_document layout="vertical" %}
                        </div>
                        {% if task.is_overdue %}
                        <div class="form-group">

                            {% bootstrap_field form.reason_for_delay layout="vertical" %}

                        </div>
                        {% endif %}
                    </div>

                    <hr />

                    <h5 class="mt-4 text-secondary">Add New Remarks</h5>

                    {{ remarks_formset.management_form }}
                    {% for formset_form in remarks_formset %}
                    <div class="mb-3 p-3 border rounded bg-white">
                        {% bootstrap_form formset_form layout="vertical" %}
                    </div>
                    {% endfor %}

                    <div class="text-center mt-4">
                        {% bootstrap_button button_type="submit" content="Submit Update" btn_class="btn-success" %}
                        <a href="{% url 'task_detail' task.pk %}" class="btn btn-outline-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
