<!doctype html>
<html lang="en">

<head>
    {% block title %}
    <title>HO Compliance | User accounts</title>
    {% endblock title %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Underwriting" />
    <meta name="description" content="Underwriting" />
    {% load django_bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-icons-1.13.1/bootstrap-icons.min.css' %}" />
    <style>
        body {
            zoom: 90%;
        }
    </style>
</head>

<body>
    {% block navbar %}
    {% if user.is_authenticated and perms.accounts.view_customuser %}
    <!-- djlint:off -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d0e7f9;">
        <!-- djlint:on -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">User accounts</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% with url_name=request.resolver_match.url_name filter_val=request.resolver_match.kwargs.filter %}
                    <a class="nav-link" href="{% url 'task_list_approval_pending' %}">Tasks list
                    </a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if url_name == 'department_list' or url_name == 'department_add' %}active{% endif %}"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Department
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'department_list' %}">Department list</a></li>
                            {% if perms.accounts.add_department %}
                            <li><a class="dropdown-item" href="{% url 'department_add' %}">Add new department</a></li>
                            {% endif %}
                        </ul>

                    </li>
                    <a class="nav-link" href="{% url 'user_list' %}">User list</a>
                    {% if perms.accounts.add_customuser %}
                    <a class="nav-link" href="{% url 'user_create' %}">Add new user</a>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="navbar-nav">
            {% if user.is_authenticated %}

            <a class="nav-link" href="#">{{ user.username }}</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link">
                    Logout
                </button>
            </form>

            {% else %}

            <a class="nav-link" href="{% url 'login' %}">Login</a>

            {% endif %}
        </div>
    </nav>
    {% endif %}
    {% endblock navbar %}
    {% if messages %}
    <div class="container-fluid mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock content %}

    {% block scripts %}
    {% bootstrap_javascript %}
    <script src="{% static 'DataTables/datatables.min.js'%}"></script>
    {% endblock scripts %}
</body>

</html>
