{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid">
   
	{% if task_list %}

    <h1>{{ filter_type.title }} task list</h1>
    <table class="table table-bordered table-hover" id="template_table">
        <thead class="table-light">
            <tr>
                <th>Task name</th>
                <th>Due date</th>
                <th>Task status</th>
                <th>Department</th>
                <th>UIIC contact</th>
                <th>Compliance contact</th>
                <th>Circular details</th>
                <th>Type of compliance</th>
                <th>Circular document</th>
                <th>Data document</th>
                <th>Inbound email communication</th>
                <th>Outbound email communication</th>
                <th>Return number</th>
                <th>Priority</th>
                <th>Date of document received</th>
                <th>Date of document submitted</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for template in task_list %}
            <tr>
                <td>{{ template.task_name }}</td>
                <td>{{ template.due_date }}</td>
                <td>{{ template.current_status }}</td>
                <td>{{ template.department }} </td>
                <td>{{ template.uiic_contact }}</td>
                <td>{{ template.compliance_contact }}</td>
                <td>{{ template.circular_details }}</td>
                <td>{{ template.type_of_compliance }}</td>

                <td>
                    {% if template.circular_document %}
                    <a href="{{ template.circular_document.url }}" target="_blank">{{ template.circular_document }}</a>
                    {% else %}
                    No document uploaded
                    {% endif %}

                </td>
                <td>
                    {% if template.data_document %}
                    <a href="{{ template.data_document.url }}" target="_blank">{{ template.circular_document }}</a>
                    {% else %}
                    No document uploaded
                    {% endif %}

                </td>
                <td>
                    {% if template.inbound_email_communication %}
                    <a href="{{ template.inbound_email_communication.url }}" target="_blank">{{
                        template.circular_document }}</a>
                    {% else %}
                    No document uploaded
                    {% endif %}

                </td>
                <td>
                    {% if template.outbound_email_communication %}
                    <a href="{{ template.outbound_email_communication.url }}" target="_blank">{{
                        template.circular_document }}</a>
                    {% else %}
                    No document uploaded
                    {% endif %}

                </td>
                <td>{{ template.return_number }}</td>
                <td>{{ template.get_priority_display }}</td>
                <td>{{ template.date_of_document_received }}</td>
                <td>{{ template.date_of_document_forwarded }}</td>
                <td><a href="{% url 'task_edit' template.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock content %}
{% block scripts %}
<script
    src="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-2.2.2/b-3.2.2/b-html5-3.2.2/fc-5.0.4/fh-4.0.1/datatables.min.js"
    integrity="sha384-tsUGEwojRnoqjP6bzZ+Bpl9YTyUyWkJupPzDwLS5KYjRV58B43iIRkxGOIgBgp/E"
    crossorigin="anonymous"></script>
<script>new DataTable('#template_table', {
     layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        order: [[3, 'desc']]
    });</script>
{% endblock scripts %}
