{% load render_table from django_tables2 %}
{% load custom_filters %}

<div class="container-fluid mt-4">
    <ul class="nav nav-tabs mb-4">
        {% for recurrence in recurrence_choices %}
        <li class="nav-item">
            <a class="nav-link {% if recurrence_type == recurrence %}active{% endif %}" href="{% if filter %}
         {% url recurrence_url_name filter=filter recurrence=recurrence %}
         {% else %}
         {% url recurrence_url_name recurrence=recurrence %}
         {% endif %}">
                {{ recurrence|capfirst|replace:"_| " }}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% if enable_selection %}
    <form id="task-selection-form" method="post">
        {% csrf_token %}

        <div class="mb-3 d-flex gap-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#boardMeetingModal">
                Set Board Meeting Date
            </button>
        </div>

        {% render_table table %}
    </form>

    {% else %}
    {% render_table table %}
    {% endif %}
</div>
