{% load django_bootstrap5 %}

<div class="modal fade" id="revisionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <form method="post" action="{% url 'task_revise' task.pk %}">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title">Revision Required</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    {% bootstrap_form revision_form %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    {% bootstrap_button "Add remarks" button_type="submit" button_class="btn-danger" %}
                </div>

            </form>

        </div>
    </div>
</div>
